<h1>List of tags:</h1>

<p>
  <ul>
    <% @tags.each do |tag| %>
      <li>
        <%= link_to tag.name, tag_path(tag) %>
        <%= link_to "(Delete this tag)", tag_path(tag),
          method: :delete,
          data: {confirm: "Really delete this tag?"} %>
      </li>
    <% end %>
  </ul>
</p>
